{{!< layout}}
<div class="aui-group sidebar">
    <div class="aui-item">
        <h3>Your sidebar goes here!</h3>
        <ul>
          <li>Group ID: {{identity.groupId}}</li>
          <li>Room ID: {{identity.roomId}}</li>
          <li>User ID: {{identity.userId}}</li>
        </ul>
        <button id="say_hello" class="aui-button">Say Hello!</button>
    </div>
</div>
<script>
$('#say_hello').on('click', function(){
  $.ajax({
    type: 'POST',
    url: '/send_notification',
    headers: { 'Authorization': 'JWT {{signed_request}}' },
    dataType: 'json',
    data: {}
  });
});
</script>